extends layout

block content
    
    section#portfolio
        br
        br
        .container
            .row
                .col-lg-12.text-center
                    h2 Portfolio
                    hr.star-primary
            .row
                each project, i in projects
                    .col-sm-4.portfolio-item
                        a.portfolio-link(href='#projectModal#{i}', data-toggle='modal')
                            .caption
                                .caption-content
                                    i.fa.fa-search-plus.fa-3x
                            img.img-responsive(src='/img/portfolio/#{project.cover}', alt='')
                        
    
    each project, i in projects
        div.portfolio-modal.modal.fade(id='projectModal#{i}', tabindex='-1', role='dialog', aria-hidden='true')
            .modal-content
                .close-modal(data-dismiss='modal')
                    .lr
                        .rl
                .container
                    .row
                        .col-lg-8.col-lg-offset-2
                            .modal-body
                                h2 #{project.title}
                                hr.star-primary
                                img.img-responsive.img-centered(src='/img/portfolio/cabin.png', alt='')
                                p
                                    | #{project.desc}
                                button.btn.btn-default(type='button', data-dismiss='modal')
                                    i.fa.fa-times
                                    |  Close